.home-header {
    margin: 10px 0 20px;
    width: 100%;
    background-color: var(--primary-content-bg);
    padding: 10px 20px;
    box-shadow: 0 0 15px var(--primary-box-shadow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-header h1 {
    color: var(--hover-color);
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.553px;
}

.home-header span {
    color: var(--hover-color);
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.553px;
}

.current-time {
    color: var(--hover-color);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.553px;
    padding: 3px;
}

.current-time span {
    font-weight: 600;
    margin-left: 5px;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.home-content-col {
    padding: 20px;
    height: calc(100vh - 240px);
    box-shadow: 0 0 15px var(--primary-box-shadow);
    border-radius: 15px;
    background-color: var(--primary-content-bg);
}

.home-content-col:first-child {
    width: 70%;
}

.home-content-col:last-child {
    width: 30%;
}

/* Calendar style */
.react-calendar {
    width: 100%;
    max-width: 100%;
    background: var(--primary-content-bg);
    border: 1px solid var(--search-border-color);
    line-height: 1.125em;
    margin-bottom: 20px;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    color: var(--hover-color);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #eeeeee;
    color: #555;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: var(--hover-color);
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: var(--old-month-days) !important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
    color: var(--hover-color);
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    color: var(--hover-color);
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #eeeeee;
    color: #555;
}

.react-calendar__tile--now {
    background: #ff76e6;
    color: #f0f0f0;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #a3d3ff;
}

.react-calendar__tile--hasActive {
    background: #a3d3ff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    background: #2b81d2;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
    color: #ffffff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

.best-teachers-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.best-teachers-title h3 {
    color: var(--hover-color);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.553px;
}

.best-teachers-title a {
    font-size: 14px;
    cursor: pointer;
    color: #CB0C9F !important;
    font-weight: 600;
}

.home-col-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 240px;
    margin-bottom: 25px;
    overflow: auto;
}

.home-col-content ul::-webkit-scrollbar {
    display: none;
}

.home-col-content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--hover-color);
    font-size: 18px;
    border-bottom: 1px solid var(--search-border-color);
}

.home-col-content ul li span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.home-col-content ul li span:last-child i {
    color: #2b81d2;
    cursor: pointer;
}

.join-btn {
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom right, #CB0C9F, #7928CA);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.332px;
    transition: all 0.2s;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-btn:hover {
    box-shadow: 0px 2px 4px -1px rgb(249 101 255), 0px 4px 7px -1px rgba(199, 34, 232, 0.41);
}

.join-btn:active {
    transform: scale(0.9);
}

.join-btn i {
    margin-left: 10px;
    font-size: 22px;
}

/* Info Overview */
.info-overview-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.info-overview-col {
    width: 23.5%;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.info-overview-col:first-child {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5)
}

.info-overview-col:nth-child(2) {
    background: linear-gradient(45deg, #ffb64d, #ffcb80)
}

.info-overview-col:nth-child(3) {
    background: linear-gradient(45deg, #4099ff, #73b4ff)
}

.info-overview-col:last-child {
    background: linear-gradient(45deg, #ff5370, #ff869a)
}

.info-overview-col-content {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
}

.info-overview-content-left {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.info-overview-content-right h5 {
    font-size: 16px;
    font-weight: 700;
}

.info-overview-content-right span {
    font-size: 20px;
    font-weight: 500;
}

.info-overview-col:first-child .info-overview-content-left {
    background: rgb(49 175 150);
}

.info-overview-col:nth-child(2) .info-overview-content-left {
    background: rgb(204 152 77);
}

.info-overview-col:nth-child(3) .info-overview-content-left {
    background: rgb(67 131 204);
}

.info-overview-col:last-child .info-overview-content-left {
    background: rgb(204 82 102);
}

/* charts */
.charts {
    display: flex;
    align-items: center;
    gap: 20px;
    height: calc(100vh - 403px);
}

.charts-col:first-child {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.charts-col-content-title {
    color: var(--hover-color);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.553px;
    text-align: center;
    margin-bottom: 10px;
}

.charts-col:last-child {
    width: 60%;
    height: 100%;
    padding-top: 20px;
}

.charts-col:first-child .charts-col-content {
    width: 100%;
}

.charts-col:last-child .charts-col-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}